*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    min-width: 750px;
    height: 800px;
    border: 10px solid grey;

}

.currentEquation{
    background-color: #FFFFFF;
    text-align: end;
}

.calcDisplay{
    padding-top: 30px;
    min-height: 50px;
    background-color:#FFFFFF;
    text-align: end;
    font-size: 42px;
}

.btnRow{
    display: flex;
    flex: 1 0;
}

.numBtn,
.operatorBtn{
    flex: 1 0;

}

.clearDisplay,
.zeroBtn{
    flex: 3 0;
    padding-right: 7px;
}